[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
featuretools = "*"
tabulate = "*"
textblob = "*"
levenshtein = "*"
func-timeout = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "2.7"
